<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <title>about</title>
  </head>
  <body>
    {{!-- <h1 style="color: red">From about dynamic file</h1> --}}

   <div class="main-content">
      {{>header}}
      <img src="./img/itachi eyes.png" class="portrait" />
      </div>

    {{>footer}}

  </body>
</html>